In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('../Data/Merged_onehot.xlsx')

In [3]:
df.head()

,Unnamed: 0,PIN,Solution_points,case_assigned_to,timestamp,EDA
0,0,AEOGCR7,1,Goettlich,2018-05-08 15:12:22,1
1,1,AEOGCR7,1,Goettlich,2018-05-08 15:12:26,1
2,2,AEOGCR7,1,Goettlich,2018-05-08 15:12:52,1
3,3,AEOGCR7,1,Goettlich,2018-05-08 15:13:50,1
4,4,AEOGCR7,1,Goettlich,2018-05-08 15:14:05,1

In [4]:
df2 = df.copy()

In [5]:
df2.sort_values('timestamp', inplace=True)

In [6]:
df2.head()

,Unnamed: 0,PIN,Solution_points,case_assigned_to,timestamp,EDA
577,613,DII62UI,0,Goettlich,2018-05-08 14:55:08,1
578,614,DII62UI,0,Goettlich,2018-05-08 14:56:15,1
579,615,DII62UI,0,Goettlich,2018-05-08 14:56:16,1
580,616,DII62UI,0,Goettlich,2018-05-08 14:57:14,1
581,617,DII62UI,0,Goettlich,2018-05-08 14:57:24,1

In [7]:
## Removing with 0 EDA values
del_indexes = df2[df2['EDA'] == 0].index
df2.drop(del_indexes, inplace = True)

### Making EDA into a list for correct and wrong results

In [8]:
df2.head()

,Unnamed: 0,PIN,Solution_points,case_assigned_to,timestamp,EDA
577,613,DII62UI,0,Goettlich,2018-05-08 14:55:08,1
578,614,DII62UI,0,Goettlich,2018-05-08 14:56:15,1
579,615,DII62UI,0,Goettlich,2018-05-08 14:56:16,1
580,616,DII62UI,0,Goettlich,2018-05-08 14:57:14,1
581,617,DII62UI,0,Goettlich,2018-05-08 14:57:24,1

In [9]:
df2.Solution_points.value_counts()

1    14196
0    10480
Name: Solution_points, dtype: int64

In [10]:
right = df2[df2['Solution_points'] == 1]['EDA'].tolist()

In [11]:
len(right)

14196

In [12]:
wrong = df2[df2['Solution_points'] == 0]['EDA'].tolist()

In [13]:
len(wrong)

10480

Knowing about epistemic data
- iEE = Problem Identification - 1
- EG = Evidence Generation - 2
- cEE = Evidence evaluation - 3
- CHG = - Hypothesis Generation - 4
- DC = Drawing conclusion - 5
- none = 0

#### Ngrams

In [14]:
import collections
from nltk.util import ngrams

#### Correct solution Ngrams

In [15]:
len(right)

14196

In [16]:
ngram_right = ngrams(right, 2)

In [17]:
# list(fiveGrams)[:5]

In [18]:
freq_right = collections.Counter(ngram_right)

In [19]:
# freq_right.most_common(15)

In [20]:
for i in freq_right.most_common(8):
    print(i, i[1]/len(right)*100)

((3, 3), 6485) 45.68188222034376
((1, 1), 2028) 14.285714285714285
((4, 4), 1093) 7.699351930121161
((2, 2), 711) 5.008453085376162
((3, 4), 507) 3.571428571428571
((1, 2), 465) 3.2755705832628905
((4, 1), 455) 3.205128205128205
((2, 3), 450) 3.169907016060862

#### Wrong solution Ngrams

In [21]:
len(wrong)

10480

In [92]:
ngram_wrong = ngrams(wrong, 2)

In [93]:
# list(fiveGrams)[:5]

In [94]:
freq_wrong = collections.Counter(ngram_wrong)

In [95]:
# freq_wrong.most_common(15)

In [96]:
for i in freq_wrong.most_common(8):
    print(i, i[1]/len(wrong)*100)

((3, 3), 4589) 43.7881679389313
((1, 1), 1530) 14.599236641221374
((2, 2), 713) 6.8034351145038165
((4, 4), 636) 6.068702290076336
((2, 3), 385) 3.6736641221374047
((1, 2), 362) 3.454198473282443
((3, 4), 329) 3.1393129770992365
((4, 1), 291) 2.7767175572519083

#### not much of a difference found in the most commonly occuring sequence for right and wrong solution